.filters {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;          
    padding: 10px 18px;    
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd; 
  }
  
 
  .filter-select {
    width: 200px;
    height: 40px;
    margin-left: 30px;
    font-size: 16px;          
    border: 1px solid #ccc;  
    border-radius: 8px;      
    background-color: #fff;   
    cursor: pointer;          
    transition: border-color 0.3s ease; 
  }
  

  .filter-select:focus {
    outline: none;            
    border-color: #55311ac9;    
  }
  
  
  .apply-button {
    width: 160px;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #734629c9; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left:auto;
  }
  
  .apply-button:hover {
    background-color: #391f0dc9; 
  }
  .reset-button {
    width: 160px;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color:rgb(143, 24, 24); 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  .reset-button:hover {
    background-color:rgb(100, 11, 11);
  }